// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$orange: #E67E22;
$gray: #0E0000;
$light-gray: #F4F4F4;
$dark-blue: #060522;

$white_opaque: rgba(250, 250, 250, .3);
$dark: #1F7972;

// My colors:
$yellow: #FCF776;
$magenta: #AB3687;
$purple: #9E77CC;
$green: #CAED6D;
$dark-black: #212121;

