<div class="navbar navbar-expand-sm">
  <div class="container-fluid">

    <div id="navbarSupportedContent">
      <%# This line creates a div element that contains the collapsible content of the navigation bar. %>
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">

            <%# menu icon %>
            <a href="#" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa-solid fa-bars-staggered menu-icon"></i>
            </a>

            <%# dropdown menu %>
            <div class="dropdown-menu dropdown-menu-end" style="margin-top: 30px;" aria-labelledby="navbarDropdown">
              <%= link_to "Your checklists", root_url, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
