.navbar {
  position: fixed;
  top: 0;
  right: 0;
}

.dropdown-item{
  margin: 15px;
  background-color: $white_opaque;
  width: 100%;
  border-radius: 60px;
  padding: 10px;
  text-align: right;
}

.dropdown-menu {
  background-color: transparent;
  border: none;
  margin-right: 15px;
  margin-top: 50px; /* change this to add some top margin */
  padding-top: 10px; /* add some padding to separate the items from the menu top */
}

.menu-icon {
  color: #FCF776;
  font-size: 30px;
  position: fixed;
  top: 50px;
  right: 20px;
}
