<h1 class="page_title">checklist <br> central </h1>

<% @checklists.each do |checklist| %>

  <%# classes wrapping up title and description %>
  <div class="index_row clearfix">
    <%= link_to checklist_path(checklist) do %>
      <h2 class="todo_list_title"><%= checklist.title %></h2>
      <p class="todo_list_sub_title"><%= checklist.description %></p>
    <% end %>
  </div>

<% end %>

<div class="links">
  <%= link_to "New Checklist", new_checklist_path %>
  <%# , class: "btn btn-primary" %>
</div>
