<h1>checklists#index</h1>
<p>all checklists</p>

<ul>
  <% @checklists.each do |checklist| %>
    <%= link_to checklist_path(checklist) do %>
      <li><%= checklist.title %></li>
      <li><%= checklist.description %></li>
    <% end %>
  <% end %>
</ul>

<%= link_to "New Checklist", new_checklist_path, class: "btn btn-primary" %>
